<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <title> Adota Pet </title>
  </head>

  <body>
    <header>
      <a href="index.html" class="logo"> Adota Pet </a>

      <nav>
        <a href="inicio.php"> Home </a>
        <a href="institucional2.html" class="active"> Institucional </a>
        <a href="ong2.html"> ONG's </a>
        <a href="adote2.html"> Quero Adotar </a>
        <a href="doar.php"> Quero Doar </a>
        <a href="denuncia.php"> Denuncia </a>
      </nav>
      <div class="trilho" id="trilho">
        <div class="indicador"></div>
    </div>
    </header>

    <section class="container">
      <div class="list">

          <div class="item active">
              <div class="animal-img">
                  <img src="../img/animal1.webp" alt="">
              </div>
              <div class="content">
                  <h2>
                    Quem somos nós?
                  </h2>
                  <p class="description">
                    Somos uma organização não governamental (ONG), sem fins lucrativos, fundada em 21 de Abril de 2023 na cidade de Rincão (SP), por um grupo de 20 voluntários (as) que atuavam de forma dispersa na cidade e, que resolveram se juntar para consolidar forças contra os maus tratos aos pets.
                    Atualmente a ONG concentra os seus esforços para ajudar os pets (cães e gatos) em situação de vulnerabilidade, adoção responsável e na denúncia de maus tratos.
                  </p>
                  <button class="information">
                      Saiba Mais
                  </button>
              </div>
          </div>

          <div class="item">
              <div class="animal-img">
                  <img src="../img/animal2.webp" alt="">
              </div>
              <div class="content">
                  <h2>
                    Como posso ajudar?
                  </h2>
                  <p class="description">
                    Olá! Você pode ajudar esta ONG a mudar a realidade da proteção animal em nossa cidade. Com a sua ajuda, muitos pets já foram beneficiados, fazendo a diferença na vida de muitos cães e gatos abandonados.
                    Nós, da "AdotaPet - Adoção Responsável", temos orgulho de fazer um trabalho construído a várias mãos, que contribui para a melhoria das condições de vários animais em situação de vulnerabilidade.
                    Essa visibilidade é possível por meio de doações para esta ONG. 
                    Assim você ajuda a "AdotaPet - Adoção Responsável" a continuar crescendo nesta corrente de doação sustentável voltada para a causa animal.
                    Desta maneira, faça uma doação! Entre em contato conosco através do (?) e entre nessa corrente do bem.
                  </p>
                  <button class="information">
                      Saiba Mais
                  </button>
              </div>
          </div>
      </div>


      <div class="arrows">
          <button id="prev"><img src="../img/arrow.png" alt="seta esquerda"></button>
          <button id="next"><img src="../img/arrow.png" alt="seta direita"></button>
      </div>

      <div class="indicators">
          <div class="number">01</div>
          <ul>
              <li class="active"></li>
              <li></li>
              <li></li>
          </ul>
      </div>
  </section>

    <section id="feature" class="section-p1">
      <div class="fe-box">
        <img src="../img/features/doacao.png" alt="denuncia">
        <h6>Faça uma doação</h6>
      </div>
      <div class="fe-box">
        <img src="../img/features/pet.webp" alt="validacao">
        <h6>Apadrinhe um pet</h6>
      </div>
      <div class="fe-box">
        <img src="../img/features/adocao.avif" alt="validacao">
        <h6>Não compre. Adote.</h6>
      </div>
    </section>
    
    <footer class="section-p1">
      <div class="col">
          <img class="logo" src="../img/logo.webp" width="90" alt="">
          <h4>Contato</h4>
          <p><strong>Endereço:</strong> Rincão, SP</p>
          <p><strong>Telefone:</strong>+55169999-9999 | +55169999-9999</p>
          <div class="follow">
              <h4>Nos siga</h4>
              <div class="icon">
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-instagram"></i>
              </div>
          </div>
      </div>

      <div class="col">
          <h4>Sobre</h4>
          <a href="#">Sobre Nós</a>
          <a href="#">Perguntas Frequentes</a>
          <a href="#">Política de Privacidade</a>
          <a href="#">Termos & Condições</a>
          <a href="#">Entre em contato</a>
      </div>

      <div class="col">
          <h4>Colabore</h4>
          <a href="#">Doe qualquer valor</a>
          <a href="#">Seja uma Empresa Parceira</a>
      </div>

      <div class="copyright">
          <p>&copy 2024, Todos os direitos reservados - Naju</p>
      </div>
    </footer>

  <script src="../js/scripts.js"></script>
  </body>
</html>